@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.banner {
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.4)), url(/img/background_blur_resized.jpg);
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 230px 0 230px;
}


#logo {
    height: 40px;
    width: 40px;
}

.banner-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.joinButton {
    padding-top: 20px;
    padding: 10px;
    color:white;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 6px;
    transition: 0.4s ease;
}

.joinButton:hover {
    background: white;
    color: black;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar-nav li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.navbar-brand {
    font-weight: 600;
}

.banner-text .row .col-sm-8 {
    color: black;
    background: white;
    border-radius: 6px;
    -webkit-box-shadow: 10px 6px 12px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow:    10px 6px 12px 0px rgba(50, 50, 50, 0.39);
    box-shadow:         10px 6px 12px 0px rgba(50, 50, 50, 0.39);
}

.text-container-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 50px;
    text-align: center;
}

#floatingSelectGrid {
    cursor:pointer;
}

.text-container-grid .col-md p {
    font-size: 30px;
}

p{
    font-family: 'Open Sans', sans-serif;
}
